/* Alternative checkboxes */

/* General */

.altCbx {
  display: inline-block;
  box-sizing: border-box;
  margin: -6px 4px;
  width: 24px;
  height: 24px;
  border-width: 4px;
  border-style: solid;
  cursor: pointer;
  position: relative;
}
.altCbx.altCbx-on:before, .altCbx.altCbx-on:after {
  content: "";
  display: block;
  background-color: black;
}
.altCbx.altCbx-on:before {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
}

/* Manage shapes */

.altCbx.altCbx-rounded {
  border-radius: 8px;
}
.altCbx.altCbx-rounded.altCbx-on:before {
  border-radius: 2px;
}
.altCbx.altCbx-round {
  border-radius: 100%;
}
.altCbx.altCbx-round.altCbx-on:before {
  border-radius: 100%;
}
.altCbx.altCbx-tick.altCbx-on:before {
  width: 7px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.altCbx.altCbx-tick.altCbx-on:after {
  width: 13px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.altCbx.altCbx-cross.altCbx-on:before {
  width: 15px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.altCbx.altCbx-cross.altCbx-on:after {
  width: 15px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* Manage animations */

.altCbx.altCbx-fading:before {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.altCbx.altCbx-fading.altCbx-on:before {
  -webkit-animation-name: custCbx-fade-in;
          animation-name: custCbx-fade-in;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.altCbx.altCbx-checking {
  box-sizing: 0 10px 0 red;
}
.altCbx.altCbx-checking.altCbx-on:before {
  width: 7px;
  height: 4px;
  position: absolute;
  top: 8px;
  left: 1px;
  border-radius: 0;
  -webkit-transform: scaleX(0) rotate(45deg);
          transform: scaleX(0) rotate(45deg);
  -webkit-animation-name: custCbx-checking-right;
          animation-name: custCbx-checking-right;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.altCbx.altCbx-checking.altCbx-on:after {
  width: 13px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 3px;
  border-radius: 0;
  -webkit-transform: scaleX(0) rotate(-45deg);
          transform: scaleX(0) rotate(-45deg);
  -webkit-animation-name: custCbx-checking-left;
          animation-name: custCbx-checking-left;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.altCbx.altCbx-crossing-out.altCbx-on:before {
  width: 15px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 0;
  -webkit-transform: scaleX(0) rotate(-45deg);
          transform: scaleX(0) rotate(-45deg);
  -webkit-animation-name: custCbx-checking-left;
          animation-name: custCbx-checking-left;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.altCbx.altCbx-crossing-out.altCbx-on:after {
  width: 15px;
  height: 4px;
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 0;
  -webkit-transform: scaleX(0) rotate(45deg);
          transform: scaleX(0) rotate(45deg);
  -webkit-animation-name: custCbx-checking-right;
          animation-name: custCbx-checking-right;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-duration: 100ms;
          animation-duration: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

/* Manage colors */

.altCbx.altCbx-black {
  border-color: black;
}
.altCbx.altCbx-black.altCbx-on:before, .altCbx.altCbx-black.altCbx-on:after {
  background-color: black;
}
.altCbx.altCbx-white {
  border-color: white;
}
.altCbx.altCbx-white.altCbx-on:before, .altCbx.altCbx-white.altCbx-on:after {
  background-color: white;
}
.altCbx.altCbx-grey {
  border-color: grey;
}
.altCbx.altCbx-grey.altCbx-on:before, .altCbx.altCbx-grey.altCbx-on:after {
  background-color: grey;
}
.altCbx.altCbx-blue {
  border-color: dodgerblue;
}
.altCbx.altCbx-blue.altCbx-on:before, .altCbx.altCbx-blue.altCbx-on:after {
  background-color: dodgerblue;
}
.altCbx.altCbx-red {
  border-color: red;
}
.altCbx.altCbx-red.altCbx-on:before, .altCbx.altCbx-red.altCbx-on:after {
  background-color: red;
}
.altCbx.altCbx-violet {
  border-color: purple;
}
.altCbx.altCbx-violet.altCbx-on:before, .altCbx.altCbx-violet.altCbx-on:after {
  background-color: purple;
}
.altCbx.altCbx-green {
  border-color: limegreen;
}
.altCbx.altCbx-green.altCbx-on:before, .altCbx.altCbx-green.altCbx-on:after {
  background-color: limegreen;
}

/* Animations */

@-webkit-keyframes custCbx-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes custCbx-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes custCbx-checking-right {
  from {
    -webkit-transform: scaleX(0) rotate(45deg);
            transform: scaleX(0) rotate(45deg);
  }
  to {
    -webkit-transform: scaleX(1) rotate(45deg);
            transform: scaleX(1) rotate(45deg);
  }
}
@keyframes custCbx-checking-right {
  from {
    -webkit-transform: scaleX(0) rotate(45deg);
            transform: scaleX(0) rotate(45deg);
  }
  to {
    -webkit-transform: scaleX(1) rotate(45deg);
            transform: scaleX(1) rotate(45deg);
  }
}
@-webkit-keyframes custCbx-checking-left {
  from {
    -webkit-transform: scaleX(0) rotate(-45deg);
            transform: scaleX(0) rotate(-45deg);
  }
  to {
    -webkit-transform: scaleX(1) rotate(-45deg);
            transform: scaleX(1) rotate(-45deg);
  }
}
@keyframes custCbx-checking-left {
  from {
    -webkit-transform: scaleX(0) rotate(-45deg);
            transform: scaleX(0) rotate(-45deg);
  }
  to {
    -webkit-transform: scaleX(1) rotate(-45deg);
            transform: scaleX(1) rotate(-45deg);
  }
}
